:root {
  --primary-color: #ff7e1d;
  --secondary-color: #f5f2ed;
  --background-color: #ffce00;
}

.App {
  background-color: var(--secondary-color);
  max-width: 700px;
  margin-left: 3rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 2rem;
  border-radius: 15px;
}

.App footer {
  font-size: 0.8rem;
  padding-top: 2rem;
  text-align: center;
  margin: 0 auto;
}

.App footer a {
  text-decoration: none;
  color: #000000;
  transition: all 200ms ease;
}
.App footer a:hover {
  font-weight: 800;
  color: var(--primary-color);
}

@media (max-width: 768px) {
  body {
    text-align: center;
    margin: 2rem;
  }
  li {
    text-align: center;
  }
  .container {
    text-align: center;
  }
}

@media (max-width: 1200px) {
  .App {
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 2rem;
  }

  .container {
    margin: 0 auto;
    padding: 2rem;
  }
}
