:root {
  --primary-color: #ff7e1d;
  --secondary-color: #f5f2ed;
  --background-color: #ffce00;
}
html {
  background-image: url(./images/background.png);
}

body {
  background-color: var(--background-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.font-link {
  font-family: "Raleway", sans-serif;
}

@media (max-width: 768px) {
  body {
    text-align: center;
  }
}

@media (max-width: 1200px) {
  body {
    background-image: none;
  }
}
