.WeatherForecast {
  text-align: center;
}

.WeatherForecast .WeatherForecast-day {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 auto;
  padding: 0 auto;
}

.WeatherForecast .WeatherForecast-temeratures {
  font-size: 1.5rem;
}

.WeatherForecast .WeatherForecast-temerature-max {
  font-weight: bold;
}
