:root {
  --primary-color: #ff7e1d;
  --secondary-color: #f5f2ed;
  --background-color: #ffce00;
}

body {
  background-image: url(./images/background.png);
  background-color: var(--background-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Weather header {
  padding: 1rem;
  margin: 0 auto;
  text-align: center;
}

.Weather .button {
  color: #ffff;
  background-color: var(--primary-color);
  font-size: 0.875rem;
  font-weight: 900;
  padding: 0.8rem;
  margin-bottom: 1.5rem;
  width: 120px;
  line-height: 1.125rem;
  border: 2px var(--primary-color) solid;
  border-radius: 50px;
  box-shadow: 0 0.125rem 0 rgb(65, 61, 69, 20%);
  transition: all 200ms ease;
}

.Weather .button:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: 2px var(--primary-color) solid;
}

.Weather .button:focus {
  outline: none !important;
  border: 1px solid var(--primary-color);
  box-shadow: 0 0 10px var(--primary-color);
  background-color: var(--secondary-color);
  color: black;
}

.Weather .form-control:focus {
  outline: none !important;
  border: 1px solid var(--primary-color);
  box-shadow: 0 0 10px var(--primary-color);
}

.Weather .forecastDay {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 auto;
  padding: 0 auto;
}

.forecastPicture {
  color: var(--primary-color);
  font-size: 4rem;
}

.forecastTemp {
  font-size: 1.5rem;
}

.forecastMaxTemp {
  font-weight: bold;
}

.Weather .units a {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2rem;
  text-decoration: none;
  color: var(--primary-color);
}
.Weather .units a:hover {
  text-decoration: none;
}

.Weather .units {
  font-weight: bold;
  font-size: 1.5rem;
  position: relative;
  top: -2rem;
}

.Weather .units .active {
  text-decoration: none;
  color: black;
  cursor: default;
}

.Weather .units .active:hover {
  text-decoration: none;
}

@media (max-width: 768px) {
  body {
    text-align: center;
  }
}

@media (max-width: 1200px) {
  body {
    background-image: none;
  }
}

@media (max-width: 768px) {
  .Weather .submit {
    margin-top: 2rem;
  }
  .Weather h1 {
    text-align: center;
  }
  .Weather .temperature {
    text-align: center;
  }
}
